body {
  font-family: "Varela Round", sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  font-family: "Varela Round", sans-serif;
}

button {
  height: 30px;
  width: 100px;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
}

select {
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
}

p{
  text-align: center;
  margin-top: 18%;
}